# http://docs.spring.io/spring-boot/docs/current/reference/html/deployment-install.html#deployment-systemd-service
[Unit]
Description=ShopMe - backend
After=syslog.target

[Service]
User=it-29663
ExecStart=/bin/bash -c "JAVA_HOME=/home/it-29663/.jre-10 PATH=$JAVA_HOME/bin:$PATH /home/it-29663/backend/prod/be.jar"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
