<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
        <Property name="file_base_name" value="backend"/>
        <Property name="archive" value="archive"/>
        <Property name="logPattern">%-5level [%d{yyyy-MM-dd HH:mm:ss}, %thread] %logger{35} : %msg%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/${file_base_name}.log" filePattern="${basePath}/${archive}/${file_base_name}_%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="true">
            <appender-ref ref="console"/>
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>
