<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="logPattern" value="%-4relative [%thread] %-5level %logger{35} - %msg%n"/>
    <property name="logEncoding" value="UTF-8"/>

    <property name="logDirectory" value="logs"/>
    <property name="file_base_name" value="backend"/>
    <property name="archive" value="archive"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <timestamp key="current_date" datePattern="yyyy-MM-dd"/>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${file_base_name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/${archive}/${file_base_name}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${logEncoding}</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
